<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Classless example • Pico.css</title>
    <meta
      name="description"
      content="Just a pure semantic HTML markup, without .classes.  Built with Pico CSS."
    />
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="canonical" href="https://picocss.com/examples/classless/" />

    <!-- Pico.css (Classless version) -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
  </head>

  <body>
    <div class="center">
      <h1>Logout Successful</h1>
      <from method="post">
        <div class="signin_link">
          Sign in again? <a href="{% url 'login' %}"> Signin</a>
        </div>
        <div class="signup_link">
          Create a new account? <a href="{% url 'signup' %}"> Signup</a>
        </div>
      </from>
    </div>
  </body>
</html>
